


    <!-- Jumbotron -->
    <div class="card card-image" style="background-image: url('../../assets/img/c1.jpg');background-size: 100% 100%">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
          <div class="py-5">
              <!-- Content -->
            <h2 class="card-title h2 my-4 py-2" id="jumboh">Welcome!!Are you ready to quiz up?</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5" id="jumbop"><strong>These quizzes are specifically aimed to help you prepare for Tech Interviews.</strong></p>
            <p class="mb-4 pb-2 px-md-5 mx-md-5" id="jumbop"><strong>Brush up your basics using our Quick Learning videos.</strong></p>
            <button class="btn btn-primary" type="button" routerLink="/quiz">Start Quiz</button>
  
          </div>
        </div>
      </div>


    <div class="container">
        <div style="padding-top: 10px"><h2><strong>Quick Learning</strong></h2></div>
        <br>
            <div class="row container card-group">
              <div class="col-sm-3">
                <div class="card" >
                  <img src="../../assets/img/js.png" class="card-img-top"  id="imgcard" alt="JavaScript_image">
                  <div class="card-body">
                    <h5 class="card-title" >Java Script</h5>
                    <p class="card-text" id='task1'>Finding JavaScript to learn??This tutorial makes it easier!</p>
                    <a href="https://www.youtube.com/watch?v=W6NZfCO5SIk" class="btn btn-primary" >View Course</a>
                  </div>
                </div>
              </div>
          
            
              <div class="col-sm-3">
                <div class="card" >
                  <img src="../../assets/img/asp.jpg" class="card-img-top"  id="imgcard" alt="ASP .NET">
                  <div class="card-body">
                    <h5 class="card-title">ASP .NET</h5>
                    <p class="card-text">Learn ASP .NET from basics to advanced here!</p>
                    <a href="https://youtu.be/C5cnZ-gZy2I" class="btn btn-primary">View Course</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card" >
                  <img src="../../assets/img/cs.png" class="card-img-top" id="imgcard" alt="C Sharp">
                  <div class="card-body">
                    <h5 class="card-title">C-Sharp</h5>
                    <p class="card-text">Become a super programmer of C# by following this tutorial.</p>
                    <a href="https://www.youtube.com/watch?v=SuLiu5AK9Ps" class="btn btn-primary">View Course</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card" >
                  <img src="../../assets/img/dp.jpg" class="card-img-top"  id="imgcard" alt="Design Patterns">
                  <div class="card-body">
                    <h5 class="card-title">Design Patterns!</h5>
                    <p class="card-text">learn design patterns to make your designs easy to maintain.</p>
                    <a href="https://www.youtube.com/watch?v=NU_1StN5Tkk" class="btn btn-primary">View Course</a>
                  </div>
                </div>
            </div>              
          
            </div>
        </div>

<br>
<br>
           